<!doctype html>

<html lang="en">
{#<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>#}
<script>window.angular || document.write('<script src="lib/angular/angular.min.js"><\/script>')</script>
<head>
    <meta charset="utf-8">

    <title>You've been matched!</title>
    <meta name="author" content="Carlos Ruiz">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body ng-app="myApp" ng-controller="myCtrl">

    <p id="task_description">
        {% if role.is_seller %}   You're trying to <b>sell</b> an item that you value in <b>${{ role.valuation }}</b>.<br><br>At the end of the experiment you'll get paid proportionally to the difference<br>between the price you agree on and the value of this item.<br><br>For every round that passes without reaching an agreement,<br>a multiplicative fee of {{ EXPERIMENT_SETTS.INTEREST_PER_ROUND }}% will be deducted from your potential profit.
        {% else %}              You're trying to <b>buy</b> an item that you value in <b>${{ role.valuation }}</b>.<br><br>At the end of the experiment you'll get paid proportionally to the difference<br>between the value of this item and the price you agree on.<br><br>For every round that passes without reaching an agreement,<br>a multiplicative fee of {{ EXPERIMENT_SETTS.INTEREST_PER_ROUND }}% will be deducted from your potential profit.
        {% endif %}
    </p>

	<form method="POST" action="" target="_self">
		<div>
			<div ng-show="{{ get_condition_show_waiting_for_offer(role) }}">
				<p ng-show="negotiation_round == 0">Your opponent has been randomly selected to make the first offer.<br>Please wait until their initial offer is received.</p>
				<p ng-show="negotiation_round > 0">Your opponent has received your offer.<br>Please wait until they reply.</p>
				<p><img src="{{ url_for('static', filename='images/loading_spinner.gif') }}" loop="infinite" alt="" width="32" height="32" title="Waiting for an offer... Please wait :)"/></p>
			</div>
			<div ng-show="!{{ get_condition_show_waiting_for_offer(role) }}">
				<p id="offer_in_description" ng-show="negotiation_round == 0">You've been randomly selected to make the first offer!</p>
				<p id="offer_in_description" ng-show="negotiation_round > 0">Your opponent sent you a new offer! They're willing to {% if role.is_seller %}buy{% else %}sell{% endif %} for <b ng-bind="'$' + offer_in"></b>.</p>
				<p>How much do you want to offer?<br>
				<table width="600" border="1" align="center">
					<tr>
						<td width="50%"><label><p>
							<input type="radio" value="low" checked name="offer_option" id="offer_low" ng-disabled="{{ get_condition_show_waiting_for_offer(role) }}"> ${{ EXPERIMENT_SETTS.VALUATION_SET[BUYER_LOW] }}
						</p></label></td>
						<td width="50%"><label><p>
							<input type="radio" value="high" name="offer_option" id="offer_high" ng-disabled="{{ get_condition_show_waiting_for_offer(role) }}"> ${{ EXPERIMENT_SETTS.VALUATION_SET[SELLER_HIGH] }}
						</p></label></td>
					</tr>
					<tr>
						<td colspan="2" width="100%"><p id="profit_explanation"></p></td>
					</tr>
				</table>
				<input type="submit" title="Submit offer" value="Submit offer" id="submit_offer" ng-disabled="{{ get_condition_show_waiting_for_offer(role) }}" ng-click="negotiation_round++">
				</p>
			</div>
		</div>
	</form>
	{{ generate_quit_div()|safe }}
{#	<iframe name="iframe_background" src="offer_progress" width="0" height="0" scrolling="no" style="visibility: hidden; display: none" seamless="seamless"></iframe>#}

    <script language="javascript">
        function update_profit_explanation(event) {
			document.getElementById("profit_explanation").innerHTML = "If the deal is closed at $" + ((this.id.indexOf("low")>=0)? "{{ EXPERIMENT_SETTS.VALUATION_SET[BUYER_LOW] }}":"{{ EXPERIMENT_SETTS.VALUATION_SET[SELLER_HIGH] }}") + ", you would be making $XX.XX";
        }

        for (var i=0; i<document.getElementsByName("offer_option").length; i++) {
			document.getElementsByName("offer_option")[i].onchange = update_profit_explanation;
		}
		document.getElementsByName("offer_option")[0].onchange();	// Force a call to update_profit_explanation

        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http, $timeout) {
			$scope.negotiation_round = {{ role.match.offers|length }};
			$scope.offer_in = null;
			$scope.completed = false;

			(function poll_server() {
				$http.get('/last_offer_info').then(function successCallback(response) {
					$scope.completed = response.data.completed;
					if ($scope.completed) {
						window.location = "";
					} else {	// Don't load more parameters if match is completed (otherwise it would show the form to make a new offer for a split second and quickly redirect to match_completed.html, which doesn't look good)
						$scope.negotiation_round = response.data.count;
						$scope.offer_in = response.data.offer;
					}
				}, null /* No error handler */);
				$timeout(poll_server, {{ POLL_REFRESH_RATE }});	// Keep polling every POLL_REFRESH_RATE ms
			})();
        });
    </script>
</body>
</html>
