<!doctype html>

<html lang="en">
{#<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>#}
<script>window.angular || document.write('<script src="lib/angular/angular.min.js"><\/script>')</script>
<head>
	<meta charset="utf-8">

	<title>Waiting for an opponent...</title>
	<meta name="author" content="Carlos Ruiz">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body ng-app="myApp" ng-controller="myCtrl">
	<p>Please wait while we match you with another user,<br>we can't continue until all users are ready...<br>
		<progress max="{{ EXPERIMENT_SETTS.NUMBER_OF_USERS }}" style="width: 250px; height: 20px;" ng-value="prog"></progress><span style="position: absolute; left: 0; width: 100%;"><b style="line-height: 20px" ng-bind="prog_int + '%'"></b></span><br>
		<span ng-bind="'(' + prog + ' out of {{ EXPERIMENT_SETTS.NUMBER_OF_USERS }} users ready)'"></span></p>
	<p><img src="{{ url_for('static', filename='images/loading_spinner.gif') }}" loop="infinite" alt="" width="32" height="32" title="Waiting for a match... Please wait :)"/></p>
	{{ generate_quit_div()|safe }}

	<script language="javascript">
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $http, $timeout) {
			$scope.prog = 0;
			$scope.prog_int = 0;

			(function poll_server() {
				$http.get('/wait_cnt').then(function successCallback(response) {
					$scope.prog = parseInt(response.data);
					$scope.prog_int = parseInt(100*$scope.prog/{{ EXPERIMENT_SETTS.NUMBER_OF_USERS }});
				}, null /* No error handler */);
				$http.get('/user_state').then(function successCallback(response) {
					if (response.data != "{{ States.wait.value }}") {
						window.location = window.location.href;	// Refresh page if current state is not 'wait'
					}
				}, null /* No error handler */);
				$timeout(poll_server, {{ POLL_REFRESH_RATE }});	// Keep polling every POLL_REFRESH_RATE ms
			})();
		});
	</script>
</body>
</html>
