<!doctype html>

<html lang="en">
{#<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>#}
<script>window.angular || document.write('<script src="lib/angular/angular.min.js"><\/script>')</script>
<head>
	<meta charset="utf-8">

	<title>Let's start!</title>
	<meta name="author" content="Carlos Ruiz">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
	<p>Hi, welcome to our experiment!</p>
{% if get_flashed_messages() %}
	{% for message in get_flashed_messages() %} <p>{{ message|safe }}</p> {% endfor %}
{% endif %}
	<a href="javascript: login()"><p>Please <b>click here</b> to start when you're ready.</p></a>
	<script>
		function login() {
			var form = document.createElement("form");
			form.setAttribute("method", "POST");
    		form.submit();
		}
	</script>
</body>
</html>
