<!doctype html>

<html lang="en">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script><script>window.angular || document.write('<script src="js/angular.min.js"><\/script>')</script>
<head>
    <meta charset="utf-8">

    <title>You've been matched!</title>
    <meta name="author" content="Carlos Ruiz">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body ng-app="myApp" ng-controller="myCtrl">

    <p id="task_description">
        {% if is_seller %}   You're trying to <b>sell</b> an item that you value in <b>${{ valuation }}</b>.<br><br>At the end of the experiment you'll get paid proportionally to the difference<br>between the price you agree on and the value of this item.<br><br>For every round that passes without reaching an agreement,<br>a multiplicative fee of {{ INTEREST_PER_ROUND }}% will be deducted from your potential profit.
        {% else %}              You're trying to <b>buy</b> an item that you value in <b>${{ valuation }}</b>.<br><br>At the end of the experiment you'll get paid proportionally to the difference<br>between the value of this item and the price you agree on.<br><br>For every round that passes without reaching an agreement,<br>a multiplicative fee of {{ INTEREST_PER_ROUND }}% will be deducted from your potential profit.
        {% endif %}
    </p>

	<form method="POST" action="offer" target="iframe_background">
		<input type="hidden" ng-value="offer_in" name="offer_in">
		<input type="hidden" ng-value="negotiation_round" name="negotiation_round">

		<div ng-show="negotiation_round <= 1 {% if starts_first %}&& !first_offer_submitted{% endif %}">
		{% if starts_first %}
			<p>You've been randomly selected to make the first offer!<br>
				<input type="range" {{ get_offer_range(is_seller, valuation)|safe }} title="Make the first offer" ng-model="offer_out_value" ng-change="to_num()" id="first_offer_out_slider">
				<input type="number" {{ get_offer_range(is_seller, valuation)|safe }} title="Make the first offer" ng-model="offer_out_value" name="offer_out_value" id="first_offer_out_num_picker" placeholder="{{ valuation }}">
				<input type="hidden" value="decline" name="offer_out_option" id="first_offer_out_option">
				<input type="submit" title="Submit offer" value="Submit offer" ng-click="first_offer_submitted=true">
			</p>
		{% else %}
			<p>Your opponent has been randomly selected to make the first offer.<br>Please wait until their initial offer is received.</p>
			<p><img src="{{ url_for('static', filename='images/loading_spinner.gif') }}" loop="infinite" alt="" width="32" height="32" title="Waiting for an offer... Please wait :)"/></p>
		{% endif %}
		</div>

		<div ng-show="offer_in==0 && (negotiation_round>1 {% if starts_first %}|| first_offer_submitted{% endif %})">
			<p>Your opponent has received your offer.<br>Please wait until they reply.</p>
			<p><img src="{{ url_for('static', filename='images/loading_spinner.gif') }}" loop="infinite" alt="" width="32" height="32" title="Waiting for an offer... Please wait :)"/></p>
        </div>
		<div ng-show="offer_in > 0">
			<p id="offer_in_description">Your opponent sent you a new offer! They're willing to {% if is_seller %}buy{% else %}sell{% endif %} for <b ng-bind="'$' + offer_in"></b>.</p>
			<p>What do you want to do?<br>
			<table width="600" border="1" align="center">
				<tr>
					<td width="50%"><label><p>
						<input type="radio" value="accept" checked name="offer_out_option" id="offer_out_accept" disabled>
						Accept their offer :)
					</p></label></td>
					<td width="50%"><label><p>
						<input type="radio" value="decline" name="offer_out_option" id="offer_out_decline" disabled>
						Make a new offer:<br>
						<input type="range" {{ get_offer_range(is_seller, valuation)|safe }} title="Make a counteroffer" onmousedown="check_new_offer_ratio()" ng-model="offer_out_value" ng-change="to_num()" id="offer_out_slider" disabled>
						<input type="number" {{ get_offer_range(is_seller, valuation)|safe }} title="Make a counteroffer" onmousedown="check_new_offer_ratio()" ng-model="offer_out_value" name="offer_out_value" id="offer_out_num_picker" disabled>
					</p></label></td>
				</tr>
				<tr>
					<td colspan="2" width="100%"><p id="profit_explanation"></p></td>
				</tr>
			</table>
			<input type="submit" title="Submit offer" value="Submit offer">
			</p>
		</div>
	</form>
	<iframe name="iframe_background" src="offer_progress" width="0" height="0" scrolling="no" style="visibility: hidden; display: none" seamless="seamless"></iframe>

    <script language="javascript">
        function check_new_offer_ratio() {
            document.getElementById("offer_out_decline").checked = true;
            update_profit_explanation(null);
        }

        function update_profit_explanation(event) {
            if (event && this.id.indexOf("accept")>=0) {
                document.getElementById("profit_explanation").innerHTML = "By accepting your opponent's offer, you would";
            } else {    // Decline
                document.getElementById("profit_explanation").innerHTML = "Decline!";
            }
        }

        for (var i=0; i<document.getElementsByName("offer_out_option").length; i++) {
            document.getElementsByName("offer_out_option")[i].onchange = update_profit_explanation;
        }

        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
			$scope.first_offer_submitted = false;
			$scope.negotiation_round = 1;
			$scope.offer_in = 0;
			$scope.offer_out_value = {{ valuation }};
            $scope.to_num = function () {
                $scope.offer_out_value = parseFloat($scope.offer_out_value);
            };
			$scope.negotiation_round_changed = function () {
				document.getElementById("offer_out_slider").removeAttribute("disabled");
				document.getElementById("offer_out_num_picker").removeAttribute("disabled");
				document.getElementById("offer_out_accept").removeAttribute("disabled");
				document.getElementById("offer_out_decline").removeAttribute("disabled");
			{% if starts_first %}
				document.getElementById("first_offer_out_slider").setAttribute("disabled", "disabled");
				document.getElementById("first_offer_out_num_picker").setAttribute("disabled", "disabled");
				document.getElementById("first_offer_out_option").setAttribute("disabled", "disabled");
			{% endif %}
			};
			window.updateOffer = function (offer_in, offer_in_accept) {
				if (offer_in_accept) {
					window.location = "match_complete"
				} else {
					if (offer_in>0 && $scope.offer_in==0) {
						$scope.$apply(function () {
							$scope.negotiation_round++;
							$scope.negotiation_round_changed();
						});
					}
					$scope.$apply(function () {
						$scope.offer_in = offer_in;
					});
				}
			};
        });
    </script>
</body>
</html>
